@import "../Variables/Variables.scss";
@import "../Variables/Mixins.scss";


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 0.5rem;
    padding: 0.5rem;

}

.summary {
    position: relative;


    &::after {
        @include bgSettings()
    }

    & .content {
        position: relative;
        z-index: 5;
        @include flexColumn(1rem);
        align-items: center;
        color: $textColor;

        & .real-temp {
            font-size: $real-temp-fontSize;
        }

        & .name {
            font-size: $name-fontSize;
        }

        & .apparent-temp {
            font-size: $apparentt-temp-fontSize;
        }

        & .image {
            display: block;
            max-width: $image-width;
        }
    }

    & .slider-control {
        @include flexColumn(0.5rem);

        position: relative;
        margin-top: 2rem;
        z-index: 5;

        & .buttons {
            display: flex;
            justify-content: flex-end;
            padding: 1rem;

        }

        & .hourlyBtn {
            width: 3rem;
            height: 2rem;
            display: block;
            background-color: white;
            color: black;
            border: none;


        }

        & .dailyBtn {
            border: none;
            display: block;
            background-color: black;
            color: white;
            width: 3rem;
            height: 2rem;
        }

        & .slider-wrapper .swiper-slide {
            @include flexColumn(0.5rem);
            align-items: center;



            & .time {
                font-size: $text-size;
                color: $textColor;
            }

            & .stemperature {
                font-size: $text-size;
                color: $textColor;
            }

            &:hover {
                transform: scale(1.02);
            }
        }

        & .slider-wrapper .simage {
            max-width: $image-size;
        }
    }
}

.details {
    @include flexColumn(1rem);
    align-items: center;

    & .history-wrapper {
        display: flex;
        justify-content: center;
        gap: 1rem;
        position: relative;
        color: $textColor;

        &::after {
            @include bgSettings()
        }

        & .option {
            font-size: 2rem;
            position: relative;
            z-index: 2;

            &:hover {
                cursor: pointer;
                transform: scale(1.02);
            }
        }

    }


    & .boxes {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 10px;
        width: 100%;

    }

    & .data-box {
        @include flexColumn(3rem);
        position: relative;
        color: $textColor;
        min-height: 20rem;
        padding: 1rem;


        & .header {
            position: relative;
            z-index: 3;
            display: flex;
            align-items: center;
            gap: 1rem;

            & .img {

                max-width: $img-size;
            }

            & .title {

                font-size: $title-size;
            }
        }

        & .body {
            position: relative;
            z-index: 3;
            font-size: $body-text-size;
        }

        & .footer {
            font-size: $footer-text-size;
            position: relative;
            z-index: 3;
        }


        &::after {
            @include bgSettings()
        }
    }
}





span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: rgb(255, 255, 255);
    opacity: 1;
}

@media (max-width: 400px) {

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }

    .searchItems {

        & .item {
            font-size: 1.2rem;
        }
    }

    .details {

        & .boxes {
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        }

        & .history-wrapper {
            & .option {
                font-size: 25px;
            }
        }

    }
}

@media (max-width:550px) {
    .searchBar-container i {
        font-size: 1.2rem !important;
    }
}