//global styles
$boxColor: #1E2532;
$textColor: white;
$borderColor: #393E4C;



//Search Bar Specfics
$inputFontSize: 25px;
$inputPadding: 1.5rem;
$search-item-height: 2%;


//slider
$image-size: 55%;
$text-size: 1.2rem;



//left Panel
$real-temp-fontSize:4.5rem;
$name-fontSize: 2rem;
$apparentt-temp-fontSize: 1.5rem;